<!DOCTYPE html>
<html>
  <head>
    <title>Bracket</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="go-debug.js"></script>
  <!-- "Tournament/Bracket JS lib -->
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <!-- Client/server  data management-->
    <meta name="viewport" content-type="width=device-width initial-scale=1">
<!--    Google fonts--->
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cardo|Gloria+Hallelujah|Shrikhand" rel="stylesheet">
  </head>

  <body>

    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
